<div class="input-group">
  <input #taskInput [(ngModel)]="task"
         type="text" class="form-control" placeholder="할 일을 입력하세요">
  <span class="input-group-btn">
    <button (click)="onAddTodo(task)" type="button" class="btn btn-default">할일 추가</button>
  </span>
</div>
<ul class="list-group">
    <app-todoitem
        *ngFor="let todo of (todos | incompTodos: activeCategory)"
        [todo]="todo"
        (onToggleTodo)="onToggleTodo($event)">
    </app-todoitem>
    <div class="complete-info">Complete Item</div>
    <app-todoitem
        *ngFor="let todo of (todos | compTodos: activeCategory)"
        [todo]="todo"
        (onToggleTodo)=onToggleTodo($event)>
    </app-todoitem>
</ul>
